@font-face {
    font-family: 'FontRegular';
    src: url('./fonts/HKGrotesk-Regular.ttf') format('opentype');
   }
   @font-face {
    font-family: 'FontLight';
    src: url('./fonts/HKGrotesk-Light.ttf') format('opentype');
   }
   @font-face {
    font-family: 'FontBold';
    src: url('./fonts/HKGrotesk-Bold.ttf') format('opentype');
   }
   
   body {
     font-family: 'FontRegular', sans-serif !important;
     font-weight: 300 !important;
     margin: 0;
     padding: 0;
     -webkit-font-smoothing: antialiased;
     color: white !important;
     background-color: #000000 !important;
     width: 100vw;
     overflow-x: hidden;
   }
   
   html,body {
     font-size: 13px !important;
   }
   
   @media only screen and (min-width: 1440px) and (max-width: 1800px) {
     html,body {
       font-size: 14px !important;
     }
   }
   @media only screen and (min-width: 1800px) and (max-width: 2000px) {
     html,body {
       font-size: 17px !important;
     }
   }
   @media only screen and (min-width: 2000px) and (max-width: 2500px) {
     html,body {
       font-size: 20px !important;
     }
   }
   @media only screen and (min-width: 2500px) {
     html,body {
       font-size: 25px !important;
     }
   }
   
   a, a span, button {
     outline: none;
     transition: all 0.25s ease-in-out;
   }
   .btn-primary {
     background-color: transparent!important;
     border-color: transparent!important;
   }
   .carousel-indicators {
     bottom: -60px !important;
   }
   .carousel-control-prev {
     position: absolute !important;;
     top: -39px !important;;
     bottom: 0 !important;;
     align-items: flex-start !important;;
     width: auto !important;;
   }
   .carousel-control-prev img {
     transform:
       rotate(180deg);;
   }
   .carousel-control-next {
     position: absolute !important;;
     top: -39px !important;;
     bottom: 0 !important;;
     align-items: flex-start !important;;
     width: auto !important;;
   }
   
   .carousel-indicators li {
     width: 15% !important;;
     border: 0px solid transparent !important;;
     border-bottom: solid 2px #3a3a3a !important;;
     height: 21px !important;;
     background: transparent !important;;
     opacity: 1 !important;;
     margin: 0 !important;;
   }
   .carousel-indicators li.active {
     background: linear-gradient(185.85deg, #FF7C56 0%, #FF5D5D 80.57%) !important;;
     height: 2px !important;;
     border-bottom: 0px !important;;
     border-top: black solid 19px !important;;
     position: relative !important;;
     top: 2px !important;;
   }
   
   
   
   /* Menu Icon */
   .hamburger {
     padding: 0;
     display: inline-block;
     cursor: pointer;
     transition-property: opacity, filter;
     transition-duration: 0.15s;
     transition-timing-function: linear;
     font: inherit;
     color: inherit;
     text-transform: none;
     background-color: transparent;
     border: 0;
     margin: 0;
     overflow: visible;
     outline: none!important;
   }
   .hamburger:hover,
   .hamburger.is-active:hover,
   .hamburger:active,
   .hamburger:focus {
     background-color: transparent!important;
     border-color: transparent!important;
     outline: none!important;
     box-shadow: none!important;
   }
   
   .hamburger.is-active .hamburger-inner,
   .hamburger.is-active .hamburger-inner::before,
   .hamburger.is-active .hamburger-inner::after {
     background-color: #fff;
   }
   
   .hamburger-box {
     width: 40px;
     height: 24px;
     display: inline-block;
     position: relative; }
   
   .hamburger-inner {
     display: block;
     top: 50%;
     margin-top: -2px;
   }
   .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
     width: 40px;
     height: 4px;
     background-color: #fff;
     position: absolute;
     transition-property: transform;
     transition-duration: 0.15s;
     transition-timing-function: ease;
   }
   .hamburger-inner::before, .hamburger-inner::after {
     content: "";
     display: block;
   }
   .hamburger-inner::before {
     top: -10px;
   }
   .hamburger-inner::after {
     bottom: -10px;
   }
   
   .hamburger-spin .hamburger-inner {
     transition-duration: 0.22s;
     transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
   }
   .hamburger-spin .hamburger-inner::before {
     transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
   }
   .hamburger-spin .hamburger-inner::after {
     transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
   }
   
   .hamburger-spin.is-active .hamburger-inner {
     transform: rotate(225deg);
     transition-delay: 0.12s;
     transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
   }
   .hamburger-spin.is-active .hamburger-inner::before {
     top: 0;
     opacity: 0;
     transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
   }
   .hamburger-spin.is-active .hamburger-inner::after {
     bottom: 0;
     transform: rotate(-90deg);
     transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
   }